#Dashboard_bootcamp_Assignment_006

# 1. What are escape characters, and how do you use them?
#Answer 
Escape Character is used in order to insert an illegal character in a string. The escape character is a backlash \ follwed by the character which is required to be inserted. Say for Examle :

In [2]:
txt = "Hello, my name is \"Joyjit Dhar\" from Kolkata."
print(txt)

Hello, my name is "Joyjit Dhar" from Kolkata.

In [3]:
#This is the most easiest way by using "" and ' alternatively.
txt2 = 'Hello, my name is "Joyjit Dhar" from Kolkata.'
print(txt2)

Hello, my name is "Joyjit Dhar" from Kolkata.

In [4]:
txt3 = "Hello, my name is 'Joyjit Dhar' from Kolkata."
print(txt3)

Hello, my name is 'Joyjit Dhar' from Kolkata.

# 2. What do the escape characters n and t stand for?
#Answer 
\n stands for newline 
\t stands for tab

In [ ]:
txt3 = "Hello, my name is 'Joyjit Dhar' from Kolkata."
print(txt3)

#3. What is the way to include backslash characters in a string?

In [8]:
s = "\Tasks" # This is the way to include backlash character in the string. double backslash will be inside double quatations. 
print(s)

\Tasks

#4. The string "Howl's Moving Castle" is a correct value. Why isn't the single quote character in the word Howl's not escaped a problem?
#Answer
  The single quote in Howl's is fine because we've used double quotes to mark the beginning and end of the string.
  The single quote character in the word Howl's not escaped a problem because in defining string double quatations and single quatations has been used in order to distinguished. This is the reason for which Python is able to identify the escape character and not allowing it to form an error. Say for example:

In [9]:
a = "Howl's Moving Castle" #The single quote in Howl's is fine because we've used double quotes to mark the beginning and end of the string
print(a)

Howl's Moving Castle

#5. How do you write a string of newlines if you don't want to use the n character?
#Answer

In [11]:
 print("Hello\nWorld!") # \n is enabiling the split the words in a new line.

Hello
World!

The other way of enabiling newline in a string if I dont want to use the n character is in the Print Statement itself.

In [18]:
print("Hello") # By using two print statements in different lines. 
print("World!")

Hello
World!

#6. What are the values of the given expressions?
#'Hello, world!'[1]
#'Hello, world!'[0:5]
#'Hello, world!'[:5]
#'Hello, world!'[3:]

In [19]:
 0123456789    # In-Building Indexing in String 
'Hello, world!'[1]

'e'

In [20]:
'Hello, world!'[0:5] # Output: Hello 5th Index will be excluded.

'Hello'

In [21]:
'Hello, world!'[:5] # Ends in 5th Index Excluding the fifth one.  Output: Hello

'Hello'

In [22]:
'Hello, world!'[3:] # Output: lo, world!

'lo, world!'

#7. What are the values of the following expressions?
'Hello'.upper()
'Hello'.upper().isupper()
'Hello'.upper().lower()
#Answer:

In [23]:
'Hello'.upper() # Output: HELLO -- .upper() makes all the characters in UPPER CASE.

'HELLO'

In [24]:
'Hello'.upper().isupper() # upper() Changes to upper and then isupper() checks True or False wheather it is upper or not! #OUTPUT: True

True

In [25]:
'Hello'.upper().lower() # "'Hello'.upper()" -MAKES IT UPPER CASE -THEN .lower() -MAKES IT lower case. OUTPUT : hello

'hello'

#8. What are the values of the following expressions?
#'Remember, remember, the fifth of July.'.split()
# '-'.join('There can only one.'.split())

In [26]:
'Remember, remember, the fifth of July.'.split() # Expected Output: ['Remember,','remember,','the','fifth', 'of','July.'] -Split makes it to a list.

['Remember,', 'remember,', 'the', 'fifth', 'of', 'July.']

In [27]:
'-'.join('There can only one.'.split()) # .join forms a single string

'There-can-only-one.'

In [28]:
type('-'.join('There can only one.'.split()))

str

# 9. What are the methods for right-justifying, left-justifying, and centering a string?
#Answer:
These functions respectively left-justify, right-justify and center a string in a field of given width. They return a string that is at least width characters wide, created by padding the string s with the character fillchar (default is a space) until the given width on the right, left or both sides. The string is never truncated.

In [34]:
a ="JOJO"
a.center(20,'*')
a.rjust(20,'*')
a.ljust(20,'*')

'JOJO****************'

#10. What is the best way to remove whitespace characters from the start or end?

In [36]:
a ="    JOJO"
a.strip() # Use the . strip() method to remove whitespace and characters from the beginning and the end of a string.

'JOJO'