#Program Assignment 23

#Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True

In [1]:
def is_symmetrical(num):
    # Convert the number to a string and get its reverse
    str_num = str(num)
    str_num_reverse = str_num[::-1]
    
    # Check if the original string is equal to its reverse
    return str_num == str_num_reverse

In [2]:
is_symmetrical(7227)

True

#Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [4]:
def multiply_nums(nums):
    # Split the string into a list of strings
    nums_list = nums.split(', ')
    
    # Convert the strings to integers and multiply them together
    product = 1
    for num in nums_list:
        product *= int(num)
    
    return product

In [5]:
multiply_nums("2, 3")

6

#Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [7]:
def square_digits(num):
    result_str = ""
    for char in str(num):
        square = int(char) ** 2
        result_str += str(square)
    return int(result_str)

In [8]:
print(square_digits(9119))

811181

#Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [10]:
def setify(lst):
    return sorted(list(set(lst)))

In [11]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]