1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [1]:
birth_year = 1994  # Replace with your birth year
years_list = [birth_year + i for i in range(6)]

print(years_list)

[1994, 1995, 1996, 1997, 1998, 1999]

2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [8]:
birth_year = 1994  # Replace with your birth year
years_list = [birth_year + i for i in range(6)]

third_birthday_year = years_list[3]

print(third_birthday_year)

1997

In [5]:
3.In the years list, which year were you the oldest?

Object `oldest` not found.

In [9]:
years_list = [birth_year + i for i in range(6)]

oldest_year = years_list[-1]

print(oldest_year)

1999

4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

In [10]:
things = ["mozzarella", "cinderella", "salmonella"]

print(things)

['mozzarella', 'cinderella', 'salmonella']

5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [11]:
things = ["mozzarella", "cinderella", "salmonella"]

things[1] = things[1].capitalize() # Cinderalla refers to a person here. 

print(things) # Yes, there was a chnage in the list of elements in things.

['mozzarella', 'Cinderella', 'salmonella']

6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

In [12]:
surprise = ["Groucho", "Chico", "Harpo"]

print(surprise)

['Groucho', 'Chico', 'Harpo']

7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [13]:
surprise = ["Groucho", "Chico", "Harpo"]

last_element = surprise[-1]
lowercased = last_element.lower()
reversed_string = lowercased[::-1]
capitalized = reversed_string.capitalize()

surprise[-1] = capitalized

print(surprise)

['Groucho', 'Chico', 'Oprah']

8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [14]:
e2f = {
    'dog': 'chien',
    'cat': 'chat',
    'walrus': 'morse'
}

print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In this code, we define a dictionary e2f where the English words are the keys and their corresponding French translations are the values. Each key-value pair is separated by a colon (:) and enclosed in curly braces ({}). The dictionary is printed using the print() function.

The output shows the e2f dictionary containing the English-to-French word mappings:
    The dictionary e2f now holds the mapping from English words to their French translations.

9. Write the French word for walrus in your three-word dictionary e2f.

n the e2f dictionary, the French word for "walrus" is "morse".

10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [ ]:
e2f = {
    'dog': 'chien',
    'cat': 'chat',
    'walrus': 'morse'
}

f2e = {value: key for key, value in e2f.items()}

print(f2e)

In [ ]:
{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

11. Print the English version of the French word chien using f2e.

f2e = {'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

english_word = f2e['chien']

print(english_word)

12. Make and print a set of English words from the keys in e2f.

In [ ]:
To create and print a set of English words from the keys in the e2f dictionary, you can use the set() function to convert the keys to a set. Here's the code:

In [15]:
e2f = {
    'dog': 'chien',
    'cat': 'chat',
    'walrus': 'morse'
}

english_words = set(e2f.keys())

print(english_words)

{'cat', 'walrus', 'dog'}

In [ ]:
In this code, e2f.keys() returns a list-like view object that contains the keys from the e2f dictionary. By passing this view object to the set() function, we convert the keys into a set, eliminating any duplicate values.

The resulting set, english_words, contains the English words from the keys in the e2f dictionary. When printed, the output is:

In [16]:
{'walrus', 'dog', 'cat'}

{'cat', 'dog', 'walrus'}

13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

To create a multilevel dictionary called life with the specified structure, you can use the following code:

In [17]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

print(life)

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}}, 'plants': {}, 'other': {}}

In [ ]:
14. Print the top-level keys of life.

To print the top-level keys of the life dictionary, you can use the keys() method. Here's the code:

In [18]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

top_level_keys = life.keys()

print(top_level_keys)

dict_keys(['animals', 'plants', 'other'])

In [ ]:
15. Print the keys for life['animals'].

In [19]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

animal_keys = life['animals'].keys()

print(animal_keys)

dict_keys(['cats', 'octopi', 'emus'])

In [20]:
life = { #Q16
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

cat_values = life['animals']['cats']

print(cat_values)

['Henri', 'Grumpy', 'Lucy']